.DS_Store
[Bb]in/
[Oo]bj/
packages/
db/artifacts

*.suo
*.user
dev.*.config

.vs/
.nuget/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.orig